.sentence>span {
    color: #444444;
    white-space: nowrap;
    font-size: 200%;
    font-weight: normal;
}

.words>span {
    position: relative;
    opacity: 0;
    -webkit-animation: animateWords 5s ease-in-out infinite;
}
.words>span:nth-child(1){
    -webkit-animation-delay: 0s;
    color: #678a6b;
}

.words>span:nth-child(2){
    -webkit-animation-delay: 3s;
    color: #e7d7fc;
}

.words>span:nth-child(3){
    -webkit-animation-delay: 6s;
    color: #bcd292;
}

.words>span:nth-child(4){
    -webkit-animation-delay: 9s;
    color: #dec1f5;
}

.words>span:nth-child(5){
    -webkit-animation-delay: 12s;
    color: #8769ac;
}

.words>span:nth-child(6){
    -webkit-animation-delay: 15s;
    color: #e7d7fc;
}

@keyframes animateWords{
    from {
        opacity: 1;
        animation-timing-function: ease-in;
        top: 0;
    } to {
        opacity: 0;
        top: 5em;
    }
}
